body {
  background: black;
}
.box {
  position: absolute;
  background-color: none;
  top: 25%;
  left: 45%;
  margin-top: -100px;
  margin-left: -100px;
}
.headerCarta {
  padding: 10px 5px 5px;
  margin-bottom: 0;
  background-color: rgba(0,0,0,.03);
  border-bottom: 1px solid rgba(0,0,0,.125);
  color: #fff;
  font-weight: bold;
  align-self: center;
}
.carta-reviews {
  font-family: Helvetica;
  color: red;
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: none;
  background-clip: border-box;
  box-sizing: border-box;
  align-items: left;
  border-radius: 3px;
  border: 1px solid rgba(0,0,0,.125);
  transition: border 0.5s ease-in-out;
}
.bodyCarta-reviews {
  flex: 1 1 auto;
  padding: 5px 10px 0px; 
}
.h6Style-reviews {
  color: #383838;
  align-self: center;
}
.img {
  height: 350px;
  width: 400px;
}
